<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- PostgreSQL Neon -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ep-noisy-voice-acc5joku-pooler.sa-east-1.aws.neon.tech:5432/neondb?sslmode=require&channel_binding=require</property>
        <property name="hibernate.connection.username">neondb_owner</property>
        <property name="hibernate.connection.password">npg_Rj4EFhnQqB8p</property>

        <!-- Hibernate Configuration -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Suas entidades aqui -->
        <!-- <mapping class="com.sua.package.SuaEntidade"/> -->
    </session-factory>
</hibernate-configuration>