<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Filtro JWT -->
    <filter>
        <filter-name>JwtAuthFilter</filter-name>
        <filter-class>com.ciadainformatica.vendas.security.JwtAuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>JwtAuthFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <!-- Página inicial -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

</web-app>